#main-navigation {
  width: 100%;
  min-height: 5rem;
  background: linear-gradient(to right top, #6305dd, #390281);
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 0 5%;      
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#main-navigation nav {
  display: flex;
  gap: 30px;
  margin-left:0;
}

#main-navigation a {
  text-decoration: none;
  color: white;
  font-size: medium ;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}
#main-navigation h1 a {
  font-size: 1.5rem;
  margin-left: 0;
}


#welcome {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(to right top, #6305dd, #390281);
  padding: 6rem 12%;
  flex-direction: column;
}

#welcome header {
 display: flex;
  align-items: center;
  justify-content:space-around; 
}

#welcome img {
  width: 10rem;
  height: 10rem;
  margin-left:100px;
  object-fit: cover;
  object-position: top;
  border: 5px solid #ffffff;
  border-radius: 12px;
  background-color: #ffe1bf;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  color: #e4e4e4;
  margin-left: 3rem;
}

#welcome p {
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left:4rem;
  text-align: center;

}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: 6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}
#latest-posts{
    text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}


.latest-posts-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.posts{
    text-align: center;
}

.posts img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem auto;
}

.post_content h3{
    text-align:center;
}

.posts:hover{
  background: linear-gradient(to right top, #6305dd, #390281);
    cursor:pointer;  
    /* border: 8px;  */
}


#about {
  text-align: center;
  padding: 3rem;
  background-color: #e48900;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  color: #353535;
}

@media (max-width:768px) {
  #main-navigation{
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }
  #main-navigation h1{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  #main-navigation nav{
    margin-left: 0;
    gap: 15px;
  }
  #welcome img {
    margin-right: 0;
    margin-bottom: 1.5rem;
    max-width: 80%;
  }
}
