#welcome {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(to right top, #6305dd, #390281);
  padding: 6rem 12%;
  flex-direction: column;
}

#welcome header {
 display: flex;
  align-items: center;
  justify-content:space-around; 
}

#welcome img {
  width: 10rem;
  height: 10rem;
  margin-left:100px;
  object-fit: cover;
  object-position: top;
  border: 5px solid #ffffff;
  border-radius: 12px;
  background-color: #ffe1bf;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  color: #e4e4e4;
  margin-left: 3rem;
}

#welcome p {
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left:4rem;
  text-align: center;

}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: 6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}
#latest-posts{
    text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}


.latest-posts-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.posts{
    text-align: center;
}

.posts img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem auto;
}

.post_content h3{
    text-align:center;
}

.posts:hover{
  background: linear-gradient(to right top, #6305dd, #390281);
    cursor:pointer;  
    /* border: 8px;  */
}


#about {
  text-align: center;
  padding: 3rem;
  background-color: #e48900;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  color: #353535;
}
